[submodule "C:\\Users\\HP\\Desktop\\M.Tech\\Sem-1\\PC503 Programming Lab\\Python\\Assignment 8"]
	path = C:\\Users\\HP\\Desktop\\M.Tech\\Sem-1\\PC503 Programming Lab\\Python\\Assignment 8
	url = git@github.com:DhyanilMehta/pc503-python-project.git
