Linux and Perl/Assignment 1/Assignment1-202011032.zip
Linux and Perl/Assignment 2/Assignment-perl-git.pdf
Linux and Perl/Assignment 2/Assignment2-202011032.zip
Linux and Perl/Assignment 2/Lec0903.pl
Linux and Perl/Assignment 2/Mtech-PC503-Assignment2
Matlab/Assignment3.zip
Matlab/Assignment4.zip
Matlab/Matlab - till session6.pdf
Matlab/Matlab - till session7.pdf
Matlab/Assignment 10/Assignment10-202011032.zip
Python/Assignment8-202011001-004-032.zip
Python/Python Session 8 - codes.zip
Python/python_random_usage.txt
Python/Python-Project.pdf
Python/Assignment 3/Assignment3-202011032.zip
Python/Assignment 3/.idea/.gitignore
Python/Assignment 3/.idea/Lab 3.iml
Python/Assignment 3/.idea/misc.xml
Python/Assignment 3/.idea/modules.xml
Python/Assignment 3/.idea/inspectionProfiles/profiles_settings.xml
Python/Assignment 3/.idea/inspectionProfiles/Project_Default.xml
Python/Assignment 4/Assignment4-202011032.zip
Python/Assignment 4/.idea/.gitignore
Python/Assignment 4/.idea/.name
Python/Assignment 4/.idea/Lab 4.iml
Python/Assignment 4/.idea/misc.xml
Python/Assignment 4/.idea/modules.xml
Python/Assignment 4/.idea/inspectionProfiles/profiles_settings.xml
Python/Assignment 4/.idea/inspectionProfiles/Project_Default.xml
Python/Assignment 5/Assignment5-202011032.zip
Python/Assignment 5/.idea/.gitignore
Python/Assignment 5/.idea/Assignment 5.iml
Python/Assignment 5/.idea/misc.xml
Python/Assignment 5/.idea/modules.xml
Python/Assignment 5/.idea/inspectionProfiles/profiles_settings.xml
Python/Assignment 5/.idea/inspectionProfiles/Project_Default.xml
Python/Assignment 6/Assignment6-202011032.zip
Python/Assignment 6/.idea/.gitignore
Python/Assignment 6/.idea/Assignment 6.iml
Python/Assignment 6/.idea/misc.xml
Python/Assignment 6/.idea/modules.xml
Python/Assignment 6/.idea/inspectionProfiles/profiles_settings.xml
Python/Assignment 6/.idea/inspectionProfiles/Project_Default.xml
Python/Assignment 7/Assignment7-202011032.zip
Python/Assignment 7/.idea/.gitignore
Python/Assignment 7/.idea/Assignment 7.iml
Python/Assignment 7/.idea/misc.xml
Python/Assignment 7/.idea/modules.xml
Python/Assignment 7/.idea/inspectionProfiles/profiles_settings.xml
Python/Assignment 7/.idea/inspectionProfiles/Project_Default.xml
