[submodule "pc503-python-project"]
	path = pc503-python-project
	url = https://github.com/DhyanilMehta/pc503-python-project.git
[submodule "Python/Assignment"]
	path = Python/Assignment
	url = https://github.com/DhyanilMehta/pc503-python-project.git
